*{
    color: white;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #212121eb;
    
}
h1{
    position: absolute;
    top: 45px;
    color: gold;
}
.container{
    position: relative;
}
.clock{
    height: 400px;
    width: 400px;
    background-color: rgba(255,255,255,0.2);
    border: 2px solid rgba(255,255,255,0.25);
    box-shadow: 0px 0px 40px rgba(0,0,0,0.9);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.clock span{
    
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px; 
    text-align: center;
 }
.clock span b{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 21px;
 }
 .clock::before{
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
 }

 .stick{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
 }
 .stick i{
    height: 110px;
    width: 3px;
    position: absolute;
    background-color:var(--clr);
    justify-content: center; 
    border-radius: 6px;

 }